<mat-toolbar>
  <div class="container">
    <div
      class="social "
      href="#"
      title="Facebook"
      target="_blank"
      style="background: url('./assets/img/facebook.svg')"
    ></div>
    <div
      class="social "
      href="#"
      title="Twitter"
      target="_blank"
      style="background: url('./assets/img/twitter.svg')"
    ></div>
    <div
      class="social "
      href="#"
      title="You Tube"
      target="_blank"
      style="background: url('./assets/img/youtube.svg')"
    ></div>
    <div
      class="social "
      href="#"
      title="Instagram"
      target="_blank"
      style="background: url('./assets/img/instagram.svg')"
    ></div>
  </div>
  <div class="credits">E.O. Yunets 2019</div>
</mat-toolbar>
